<template>
  <div>
    <div v-if="todoList.length > 0" test-key="list">
      <div :id="item.id" v-for="item in todoList" :key="item.id">
        {{ item.toDo }}
      </div>
    </div>
    <div v-else test-key="warning">List is empty</div>
    <div>
      <input type="text" v-model="description" test-key="toDoDescription" />
      <button @click="addToDo" test-key="addButton">Add Todo</button>
    </div>
  </div>
</template>

<script>
import { Service } from "../services";
export default {
  name: "TodoList",
  data: () => {
    return {
      description: "",
      todoList: [],
    };
  },
  methods: {
    addToDo: function () {
      Service.User.SetTodo({ description: this.description }).then(
        (response) => {
          if (response && !response.error) {
            this.todoList = response.data;
            this.description = "";
          }
        }
      );
    },
  },
};
</script>

<style>
</style>